.LeftsideNavSection {

    margin-bottom: 1rem;


    &__header {

        font-size: 1.2rem;
        margin-bottom: 1rem;
    }

    &__entries {

        display: flex;
        flex-direction: column;
        gap: 12px;


        &--icon {

            width: 32px;
            height: 32px;

            margin-right: 1rem;

        }

        &--title {

            font-size: 1.1rem;
            // height: 1.5rem;
            height: auto;
            max-width: 90%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap
        }

    }

    &__entry {

        display: flex;
        align-items: center;

    }

    &__linebreak {
        margin-top: 2rem;
        border-top: 1px solid #D9DEE0;
    }
}

@media only screen and (max-width: 920px) {


    .LeftsideNavSection {


        &__entry {

            display: flex;
            align-items: center;
            margin: auto;

        }


    }


}