.video__description{
    white-space: break-spaces;
    background: var(--top-nav-color);
    min-height: 5rem;

    border-radius: 5px;

    padding: 1rem;
    line-height: 1.5rem;
    
    margin-bottom: 1rem;
}