.flex-wrap {
    flex-wrap: wrap;
}

.profilepage {

    &__content {

        width: calc(100vw - 12vw);
        height: 99vh;

        overflow: auto;

    }

    &__nav {

        display: flex;
        width: 90%;

        height: fit-content;

        justify-content: space-around;

        font-weight: 700;

        border-bottom: 1px solid #becbcf;


        margin: auto;
        margin-bottom: 2rem;

    }

    &__headerimage {
        width: 100%;
        height: calc((100vw - 15vw)/6.2 - 1px);

        background: var(--missing-items-background);
    }

    &__userprofile {
        width: 5rem;
        height: 5rem;

        border-radius: 50%;

        background: var(--missing-items-background);
        box-shadow: 0 2px 6px rgba(24, 7, 7, 0.25);
    }

    &__channelname {
        word-break: break-word;
        font-size: 1.5rem;
        margin-bottom: .25rem;

        max-width: 25vw;
    }

    &__subcount {

        font-weight: 300;
    }

    &__playlistcontainer {
        padding-bottom: 10rem;
    }


}

@media (max-width: 620px) {
  .profilepage__nav {
    gap: 1rem;
    font-size: 0.9rem;
  }

  .profilepage__userprofile {
    width: 4rem;
    height: 4rem;
  }
}
