
.profilepage{
    
    &__content{
        
        width: calc(100vw - 12vw);
        height: 99vh;

        overflow: auto;

    }

    &__nav{

        display: flex;
        width: 90%;

        height: fit-content;

        justify-content: space-around;

        font-weight: 700;

        border-bottom: 1px solid #becbcf;

        
        margin: auto;
        margin-bottom: 2rem;
        
    }

    &__headerimage{
        width: 100%;
        height: calc((100vw - 15vw)/6.2 - 1px);

        background: var(--missing-items-background);
    }

    &__userprofile{
        width: 5rem;
        height: 5rem;

        border-radius: 100%;

        background: var(--missing-items-background);
    }

    &__channelname{
        word-break: break-word;
        font-size: 1.5rem;
        margin-bottom: .25rem;

        max-width: 25vw;
    }

    &__subcount{

        font-weight: 300;
    }

    &__playlistcontainer{
        padding-bottom: 10rem;
    }

   
}

