
.playlist{
    width: 100%; 
    overflow: hidden; 
    box-sizing: border-box;

    &__container{

        width: 99%;
        overflow: hidden;
        position: relative;
    }

    &--horizontal{
            
        height: auto;
        display: flex;
        width: fit-content;
        
    }

    &__seeMore{
        text-align: center;
        justify-content: center;
        width: 3rem;
        height: 3rem;
        border: grey;
        background-color: white;
        position: absolute;
        bottom: 50%;
        right: 0vw;
    }
    &__seeLess{
        text-align: center;
        justify-content: center;
        width: 3rem;
        height: 3rem;
        border: grey;
        background-color: white;
        position: absolute;
        bottom: 50%;
        left: 0vw;
    }

    &__horizontalline{

        border-top: 1px solid #becbcf;
    }
}

