.thumbnailpreview{
    
    width: 20vw;
    height: auto;

    margin: 1rem 0 1rem 0rem; 

    text-overflow: ellipsis;

    &__thumbnail{
        background-color: #808B8E;
        width: 100%;
        border-radius: 5px;

        margin-bottom: 5px;

        aspect-ratio: 16 / 9;
        
    }

    &__info{

        width: 100%;

        height: auto;

        display: flex;
        

        &__userprofile{
            background-color: #808B8E;
            
            height: 3rem;
            width: 3rem;

            aspect-ratio: 1/1;
            border-radius: 100%;
            
            @media screen and (max-width: 1550px) {
                
                min-width: 2.5rem;
                min-height: 2.5rem;
        
            }
        }

        &__textarea{
            width: calc(100% - 3.2rem);
            height: auto;
    
            @media screen and (max-width: 1550px) {
            
                height: auto;
                width: calc(90% - 2.5rem);
        
            }
        }
    }


    &__userinformation{
        // background-color: #808B8E;
        margin: 5px 10px 10px 10px;
        word-break: break-all;
    }
    &__videotitle{
        // background-color: #808B8E;
        font-size: 1rem;
        font-weight: 700;
    
        line-height: 1.5rem;
        white-space: nowrap;
        width: 100%;
        max-height: 3rem;
        margin: 10px 10px 0px 10px;
        
        -webkit-box-orient: vertical;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: normal;
    }
}
