
.videopage{

    &__container{

        display: flex;

        justify-content: center;

        height: 99vh;
        overflow: auto;



    }

    &__suggestions{

        width: 20vw;
        margin-left: 2rem;

    }

    &__video{

        width: 65vw;

        margin-top: .5rem;

        &__info{
            word-break: break-all;

            &__button{

                &--subscribe{

                    font-size: 1.2rem;
                    padding: .5rem;

                    border: 1px solid var(--darkred); 
                }

            }

            &__icons{

            }
        }

        &__title{
            font-size: 1.5rem;
            margin: .5rem 0 .5rem 0;
        }

    }

    &__comments{

        margin-left: 1rem;

        &__comment{
            display: flex;
            
            &__text{

                width: 90%;

                font-size: 1rem;
                line-height: 1.4rem;

                word-break: break-word;

            }
        }

    }

    &__responses{

        width: 100%;
        // margin-left: .5rem;
        

        &__response{
            display: flex;
            
            &__text{
                
                width: 90%;

                font-size: 1rem;
                line-height: 1.4rem;

                word-break: break-word;

            }
        }

    }


}
summary{ 
    list-style: none;
    
    // &::marker{ 
    //     display: none; 
    // } 
}

